.parent {
    display: flex;            /* Enables flexbox */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;  
    margin-top: -100px;         /* Full height of the viewport */
}

.form {
    /* Optional styling for your form */
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.formbtn:hover{
    color: black!important;
    background-color: rgb(87, 137, 195)!important;
}